.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px
}

.offline {
    background-color: #ff4800;
}

.online {
    background-color: #66d466;
}

.connectivity {
    flex-direction: row;
}

.disabled {
    color: gray !important;
}

.mr-24 {
    margin-right: 24px;
}