<div class="container my-5">
    <div class="row header-row">
        <h1 class="mb-3 col-4">Edit Character</h1>
        <div class="col-4"></div>
        <button class="btn btn-primary view-button col-1" (click)="routeToViewCharacter()">Back</button>
    </div>

    <button *ngIf="userCanEdit" (click)="onClickUpload()">Upload</button>

    <div class="row">
        <div class="col-6 mw-600">
            <form #form="ngForm" (ngSubmit)="form.valid && updateCharacter()">
                <div class="row"> <!--Name/Glory/Class-->
                    <div class="mb-3 col">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="character.name" name="name" required #name="ngModel">
                        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="input-error">
                            <div *ngIf="name.errors?.['required']">Name is required.</div>
                        </div>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label">Glory</label>
                        <input type="number" class="form-control" id="glory" [(ngModel)]="character.glory" name="glory" required #glory="ngModel">
                        <div *ngIf="glory.invalid && (glory.dirty || glory.touched)" class="input-error">
                            <div *ngIf="glory.errors?.['required']">Glory is required.</div>
                        </div>
                    </div>
                    <div class="mb-3 col">
                        <label>Class</label>
                        <select class="form-select mt-2" [(ngModel)]="character.class" name="classSelect" required #class="ngModel">
                            <option *ngFor="let class of EClass | keyvalue: returnZero" value="{{class.value}}">{{ class.key | enumSpacing }}</option>
                        </select>
                        <div *ngIf="class.invalid && (class.dirty || class.touched)" class="input-error">
                            <div *ngIf="class.errors?.['required']">Class is required.</div>
                        </div>
                    </div>
                </div>
                <div class="row"> <!--YearBorn/Gender-->
                    <div class="mb-3 col">
                        <label class="form-label">Year Born</label>
                        <input type="number" class="form-control" id="yearBorn" [(ngModel)]="character.yearBorn" name="yearBorn" required #yearBorn="ngModel">
                        <div *ngIf="yearBorn.invalid && (yearBorn.dirty || yearBorn.touched)" class="input-error">
                            <div *ngIf="yearBorn.errors?.['required']">Year Born is required.</div>
                        </div>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label">Gender</label>
                        <div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="genderRadio" id="male" [value]="0" [(ngModel)]="character.gender" name="gender">
                                <label class="form-check-label" for="male">
                                    Male
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="genderRadio" id="female" [value]="1" [(ngModel)]="character.gender" name="gender">
                                <label class="form-check-label" for="female">
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"> <!--Culture/Religion-->
                    <div class="mb-3 col">
                        <label>Culture</label>
                        <select class="form-select" [(ngModel)]="character.culture" name="cultureSelect" required #culture="ngModel">
                            <option *ngFor="let culture of ECulture | keyvalue: returnZero" value="{{culture.value}}">{{ culture.key }}</option>
                        </select>
                        <div *ngIf="culture.invalid && (culture.dirty || culture.touched)" class="input-error">
                            <div *ngIf="culture.errors?.['required']">Culture is required.</div>
                        </div>
                    </div>
                    <div class="mb-3 col">
                        <label>Religion</label>
                        <select class="form-select" [(ngModel)]="character.religion" name="religionSelect" required #religion="ngModel">
                            <option *ngFor="let religion of EReligion | keyvalue: returnZero" value="{{religion.value}}">{{ religion.key | enumSpacing }}</option>
                        </select>
                        <div *ngIf="religion.invalid && (religion.dirty || religion.touched)" class="input-error">
                            <div *ngIf="religion.errors?.['required']">Religion is required.</div>
                        </div>
                    </div>
                </div>
                <div class="row"> <!--Home/Liegelord-->
                    <div class="mb-3 col">
                        <label class="form-label">Home</label>
                        <input type="text" class="form-control" id="home" [(ngModel)]="character.home" name="home" required #home="ngModel">
                        <div *ngIf="home.invalid && (home.dirty || home.touched)" class="input-error">
                            <div *ngIf="home.errors?.['required']">Home is required.</div>
                        </div>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label">Liegelord</label>
                        <select class="form-select" [(ngModel)]="character.liegeLord" name="liegeLordSelect">
                            <option [ngValue]="null">None</option>
                            <option *ngFor="let char of allCharacterList" value="{{char.id}}">{{ char.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="row"> <!--Wealth-->
                    <label>Wealth</label>
                    <div class="mb-3 col">
                        <label class="form-label">Libra</label>
                        <input type="number" class="form-control" id="libra" [(ngModel)]="character.wealth.libra" name="libra" required #libra="ngModel">
                        <div *ngIf="libra.invalid && (libra.dirty || libra.touched)" class="input-error">
                            <div *ngIf="libra.errors?.['required']">Libra is required.</div>
                        </div>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label">Shilling</label>
                        <input type="number" class="form-control" id="shilling" [(ngModel)]="character.wealth.shilling" name="shilling" required #shilling="ngModel">
                        <div *ngIf="shilling.invalid && (shilling.dirty || shilling.touched)" class="input-error">
                            <div *ngIf="shilling.errors?.['required']">Shilling is required.</div>
                        </div>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label">Denari</label>
                        <input type="number" class="form-control" id="denari" [(ngModel)]="character.wealth.denari" name="denari" required #denari="ngModel">
                        <div *ngIf="denari.invalid && (denari.dirty || denari.touched)" class="input-error">
                            <div *ngIf="denari.errors?.['required']">Denari is required.</div>
                        </div>
                    </div>
                </div>
                <!-- Tabs -->
                <tabset>
                    <tab heading="Attributes">
                        <attributes [attributes]="this.character.attributes" (attributesChange)="onAttributesChange($event)"></attributes>
                    </tab>
                    <tab heading="Traits">
                        <traits [traits]="this.character.traits" (traitsChange)="onTraitsChange($event)"></traits>
                    </tab>
                    <tab heading="Passions">
                        <passions [passions]="this.character.passions" (passionsChange)="onPassionsChange($event)"></passions>
                    </tab>
                    <tab heading="Skills">
                        <skills [skills]="this.character.skills" (skillsChange)="onSkillsChange($event)"></skills>
                    </tab>
                    <tab heading="Misc">
                        <div class="row"> <!--BirthNo/FathersName/Dist.Features-->
                            <div class="mb-3 col">
                                <label class="form-label">Father's Name</label>
                                <input type="text" class="form-control" id="fathersName" [(ngModel)]="character.fathersName" name="fathersName">
                            </div>
                            <div class="mb-3 col">
                                <label class="form-label">Birth No.</label>
                                <input type="number" class="form-control" id="birthNo" [(ngModel)]="character.birthNumber" name="birthNo" required #birthNumber="ngModel">
                                <div *ngIf="birthNumber.invalid && (birthNumber.dirty || birthNumber.touched)" class="input-error">
                                    <div *ngIf="birthNumber.errors?.['required']">Birth No. is required.</div>
                                </div>
                            </div>
                            <div class="mb-3 col">
                                <label class="form-label">Distinctive Features</label>
                                <input type="text" class="form-control" id="distFeatures" [(ngModel)]="character.distinctiveFeatures" name="distFeatures">
                            </div>
                        </div>
                    </tab>
                </tabset>

                <div *ngIf="form.valid && userCanEdit" class="row">
                    <button *ngIf="userIsAdmin" type="button" class="btn btn-danger col" (click)="deleteCharacter()">Delete</button>
                    <button *ngIf="!userIsAdmin" type="button" class="btn btn-danger col" disabled>Delete</button>
                    <div class="col-8"></div>
                    <button type="submit" class="btn btn-primary col">Save</button>
                </div>
                <div *ngIf="!form.valid || !userCanEdit" class="row">
                    <button class="btn btn-danger col" disabled>Delete</button>
                    <div class="col-8"></div>
                    <button class="btn btn-primary col" disabled>Save</button>
                </div>
                
            </form>
        </div>
    </div>
</div>