/* You can add global styles to this file, and also import other style files */
body { 
    background-color:  #212529 !important; 
    color: rgb(209, 205, 199) !important;
}

.modal-content {
    background-color:  #212529 !important; 
    color: rgb(209, 205, 199) !important;
}

.mw-550 {
    min-width: 550px;
}

.mw-600 {
    min-width: 600px;
}

h1 {
    padding-bottom: 25px;
}

.form-control-plaintext {
    color: rgb(209, 205, 199) !important;
}