/* You can add global styles to this file, and also import other style files */
body { 
    background-color:  #212529 !important; 
    color: rgb(209, 205, 199) !important;
}

.mw-550 {
    min-width: 550px;
}