.mt-20 {
    margin-top: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.add-btn {
    padding-top: 4px;
    max-height: 35px;
}

.remove-btn {
    padding-top: 4px;
    max-height: 35px;
    margin-top: 33px;
}