<div class="container my-5">
    <h1 class="mb-3">View Character</h1>

    <div class="row">
        <div class="col-6 mw-600">
            <form #form="ngForm">
                <div class="row"> <!--Name/Glory/Class-->
                    <div class="mb-3 col">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control-plaintext" id="name" [(ngModel)]="character.name" name="name" disabled="true">
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label">Glory</label>
                        <input type="number" class="form-control-plaintext" id="glory" [(ngModel)]="character.glory" name="glory" disabled="true">
                    </div>
                    <div class="mb-3 col">
                        <label>Class</label>
                        <input type="text" class="form-control-plaintext" id="class" name="class" disabled="true" value="{{getEnumKey(EClass, character.class)}}">
                    </div>
                </div>
                <div class="row"> <!--YearBorn/Gender-->
                    <div class="mb-3 col">
                        <label class="form-label">Year Born</label>
                        <input type="number" class="form-control-plaintext" id="yearBorn" [(ngModel)]="character.yearBorn" name="yearBorn" disabled="true">
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label">Gender</label>
                        <div>
                            <div *ngIf="character.gender == 0" class="">
                                <label >
                                    Male
                                </label>
                            </div>
                            <div *ngIf="character.gender == 1">
                                <label>
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"> <!--Culture/Religion-->
                    <div class="mb-3 col">
                        <label>Culture</label>
                        <input type="text" class="form-control-plaintext" id="culture" name="culture" disabled="true" value="{{getEnumKey(ECulture, character.culture)}}">
                    </div>
                    <div class="mb-3 col">
                        <label>Religion</label>
                        <input type="text" class="form-control-plaintext" id="religion" name="religion" disabled="true" value="{{getEnumKey(EReligion, character.religion) | enumSpacing }}">
                    </div>
                </div>
                <div class="row"> <!--Home/Liegelord-->
                    <div class="mb-3 col">
                        <label class="form-label">Home</label>
                        <input type="text" class="form-control-plaintext" id="home" [(ngModel)]="character.home" name="home" disabled="true">
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label">Liegelord</label>
                        <input type="text" class="form-control-plaintext" id="liegelord" name="liegelord" disabled="true" value="{{ getLiegelordName() }}">
                    </div>
                </div>
                <div class="row"> <!--Wealth-->
                    <div class="mb-3 col">
                        <label>Wealth</label>
                        <input type="text" class="form-control-plaintext" id="wealth" name="wealth" disabled="true" value="{{ character.wealth.libra }} Libra, {{ character.wealth.shilling }} Shilling, {{ character.wealth.denari }} Denari">
                    </div>
                </div>
                <!-- Tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <button class="nav-link active" id="attr-tab" data-bs-toggle="tab" data-bs-target="#attr-tab-pane" type="button" role="tab" aria-controls="attr-tab-pane" aria-selected="true">Attributes</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link" id="traits-tab" data-bs-toggle="tab" data-bs-target="#traits-tab-pane" type="button" role="tab" aria-controls="traits-tab-pane" aria-selected="false">Traits</button>
                    </li>
                    <li class="nav-item">
                      <button class="nav-link" id="passions-tab" data-bs-toggle="tab" data-bs-target="#passions-tab-pane" type="button" role="tab" aria-controls="passions-tab-pane" aria-selected="false">Passions</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="skills-tab" data-bs-toggle="tab" data-bs-target="#skills-tab-pane" type="button" role="tab" aria-controls="skills-tab-pane" aria-selected="false">Skills</button>
                      </li>
                    <li class="nav-item">
                      <button class="nav-link" id="misc-tab" data-bs-toggle="tab" data-bs-target="#misc-tab-pane" type="button" role="tab" aria-controls="misc-tab-pane" aria-selected="false">Misc</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <!-- Attributes Tab Content -->
                    <div class="tab-pane fade show active" id="attr-tab-pane" role="tabpanel" aria-labelledby="attr-tab" tabindex="0">
                        <attributes [attributes]="this.character.attributes" [readonly]="true"></attributes>
                    </div>
                    <!-- Traits Tab Content -->
                    <div class="tab-pane fade" id="traits-tab-pane" role="tabpanel" aria-labelledby="traits-tab" tabindex="0">
                        <traits [traits]="this.character.traits" [readonly]="true"></traits>
                    </div>
                    <!-- Passions Tab Content -->
                    <div class="tab-pane fade" id="passions-tab-pane" role="tabpanel" aria-labelledby="passions-tab" tabindex="0">
                        <passions [passions]="this.character.passions" [readonly]="true"></passions>
                    </div>
                    <!-- Skills Tab Content -->
                    <div class="tab-pane fade" id="skills-tab-pane" role="tabpanel" aria-labelledby="skills-tab" tabindex="0">
                        <skills [skills]="this.character.skills" [readonly]="true"></skills>
                    </div>
                    <!-- Misc Tab Content -->
                    <div class="tab-pane fade" id="misc-tab-pane" role="tabpanel" aria-labelledby="misc-tab" tabindex="0">
                        <div class="row"> <!--BirthNo/FathersName/Dist.Features-->
                            <div class="mb-3 col">
                                <label class="form-label">Father's Name</label>
                                <input type="text" class="form-control-plaintext" id="fathersName" [(ngModel)]="character.fathersName" name="fathersName" disabled>
                            </div>
                            <div class="mb-3 col">
                                <label class="form-label">Birth No.</label>
                                <input type="number" class="form-control-plaintext" id="birthNo" [(ngModel)]="character.birthNumber" name="birthNo" disabled>
                            </div>
                            <div class="mb-3 col">
                                <label class="form-label">Distinctive Features</label>
                                <input type="text" class="form-control-plaintext" id="distFeatures" [(ngModel)]="character.distinctiveFeatures" name="distFeatures" disabled>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary edit-button" (click)="routeToEditCharacter()">Edit</button>
            </form>
        </div>
    </div>
</div>