<div class="container my-5">
    <div class="row header-row">
        <h1 class="mb-3 col-4">View Character</h1>
        <div class="col-4"></div>
        <button class="btn btn-primary edit-button col-1" (click)="routeToEditCharacter()">Edit</button>
    </div>
    
    <portrait [characterId]="character.id"></portrait>

    <div class="row">
        <div class="col-6 mw-600">
            <form #form="ngForm">
                <div class="row"> <!--Name/Glory/Class-->
                    <div class="mb-3 col">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control-plaintext" id="name" [(ngModel)]="character.name" name="name" disabled="true">
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label">Glory</label>
                        <input type="number" class="form-control-plaintext" id="glory" [(ngModel)]="character.glory" name="glory" disabled="true">
                    </div>
                    <div class="mb-3 col">
                        <label>Class</label>
                        <input type="text" class="form-control-plaintext" id="class" name="class" disabled="true" value="{{getEnumKey(EClass, character.class) | enumSpacing}}">
                    </div>
                </div>
                <div class="row"> <!--YearBorn/Gender-->
                    <div class="mb-3 col">
                        <label class="form-label">Year Born</label>
                        <input type="number" class="form-control-plaintext" id="yearBorn" [(ngModel)]="character.yearBorn" name="yearBorn" disabled="true">
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label">Gender</label>
                        <div>
                            <div *ngIf="character.gender == 0" class="">
                                <label >
                                    Male
                                </label>
                            </div>
                            <div *ngIf="character.gender == 1">
                                <label>
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"> <!--Culture/Religion-->
                    <div class="mb-3 col">
                        <label>Culture</label>
                        <input type="text" class="form-control-plaintext" id="culture" name="culture" disabled="true" value="{{getEnumKey(ECulture, character.culture)}}">
                    </div>
                    <div class="mb-3 col">
                        <label>Religion</label>
                        <input type="text" class="form-control-plaintext" id="religion" name="religion" disabled="true" value="{{getEnumKey(EReligion, character.religion) | enumSpacing }}">
                    </div>
                </div>
                <div class="row"> <!--Home/Liegelord-->
                    <div class="mb-3 col">
                        <label class="form-label">Home</label>
                        <input type="text" class="form-control-plaintext" id="home" [(ngModel)]="character.home" name="home" disabled="true">
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label">Liegelord</label> 
                        <input *ngIf="!character.liegeLord || getLiegelordName() == 'Unknown'" type="text" class="form-control-plaintext" id="liegelord" name="liegelord" disabled="true" value="{{ getLiegelordName() }}">
                        <a  *ngIf="character.liegeLord && getLiegelordName() != 'Unknown'"
                            class="form-control-plaintext link"
                            [routerLink]="['/characters', 'view', this.character.liegeLord]"
                            >{{getLiegelordName()}}
                        </a>
                    </div>
                </div>
                <div class="row"> <!--Wealth-->
                    <div class="mb-3 col">
                        <label>Wealth</label>
                        <input type="text" class="form-control-plaintext" id="wealth" name="wealth" disabled="true" value="{{ character.wealth.libra }} Libra, {{ character.wealth.shilling }} Shilling, {{ character.wealth.denari }} Denari">
                    </div>
                </div>
                <!-- Tabs -->
                <tabset>
                    <tab heading="Attributes">
                        <attributes [attributes]="this.character.attributes" [readonly]="true"></attributes>
                    </tab>
                    <tab heading="Traits">
                        <traits [traits]="this.character.traits" [readonly]="true"></traits>
                    </tab>
                    <tab heading="Passions">
                        <passions [passions]="this.character.passions" [readonly]="true"></passions>
                    </tab>
                    <tab heading="Skills">
                        <skills [skills]="this.character.skills" [readonly]="true"></skills>
                    </tab>
                    <tab heading="Misc">
                        <div class="row"> <!--BirthNo/FathersName/Dist.Features-->
                            <div class="mb-3 col">
                                <label class="form-label">Father's Name</label>
                                <input type="text" class="form-control-plaintext" id="fathersName" [(ngModel)]="character.fathersName" name="fathersName" disabled>
                            </div>
                            <div class="mb-3 col">
                                <label class="form-label">Birth No.</label>
                                <input type="number" class="form-control-plaintext" id="birthNo" [(ngModel)]="character.birthNumber" name="birthNo" disabled>
                            </div>
                            <div class="mb-3 col">
                                <label class="form-label">Distinctive Features</label>
                                <input type="text" class="form-control-plaintext" id="distFeatures" [(ngModel)]="character.distinctiveFeatures" name="distFeatures" disabled>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </form>
        </div>
    </div>
</div>